.ant-btn-primary {
  background-color: #3fc060 !important;
  border-color: #3fc060 !important;
}

.ant-pagination-item-active{
  border-color: #3fc060 !important; 
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-menu-item-selected{
  background-color: grey !important;
}

.ant-menu-item-selected span {
  color: white !important;
}

.ant-menu-item-active {
  color:grey !important
}

.ant-layout-sider-children {

  
    background-color: #fff;


    box-shadow: 0 .1rem .25rem rgba(0,0,0,.075);
    display: block;

}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light {
  background-color: white !important;
}

.ant-menu-item-selected {
  background-color: #ebf0fd !important;
}

svg {
  margin-bottom: 7px;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 14px;
}
.ant-layout-sider-children {
  margin-top: 40px !important;
}

span.ant-menu-title-content {
  font-size: 16px !important;
  color: #29335d !important;
}


aside.ant-layout-sider.ant-layout-sider-dark {
  background-color: #fff;
  border-right: 1px solid hsla(208,7%,46%,.25);
  box-shadow: 0 .1rem .25rem rgba(0,0,0,.075);
  display: block;
}