.ant-btn-primary {
  background-color: #3fc060 !important;
  border-color: #3fc060 !important;
}

.ant-pagination-item-active{
  border-color: #3fc060 !important; 
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-menu-item-selected{
  background-color: grey !important;
}

.ant-menu-item-selected span {
  color: white !important;
}

.ant-menu-item-active {
  color:grey !important
}

.ant-layout-sider-children {
  background-color: lightgray !important;
}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light {
  background-color: lightgray !important;
}

.ant-menu-item-selected {
  background-color: #555555 !important;
}

svg {
  margin-bottom: 7px;
}